<!DOCTYPE html>
<html>
  <head>
  <% include ../views/partials/head %>
<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
 <script>

  var sources = [ '/<%= root_dir %>/result/<%= files[0] %>',
  '/<%= root_dir %>/result/<%= files[1] %>',
  '/<%= root_dir %>/result/<%= files[2] %>',
  '/<%= root_dir %>/result/<%= files[3] %>',
  '/<%= root_dir %>/result/<%= files[4] %>',
  '/<%= root_dir %>/result/<%= files[5] %>',
  '/<%= root_dir %>/result/<%= files[6] %>',
  '/<%= root_dir %>/result/<%= files[7] %>',
  '/<%= root_dir %>/result/<%= files[8] %>' ];


 </script>


  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/imagetracer_v1.2.1.js"></script>
  </head>
  <body>
    <% include ../views/partials/nav %>

            <div id="main_contents">
              <div id="main_contents_2">
                <div id="main_left">
                <div id="content_1">
                  <div id="test_generate">Generated Fonts Image</div>
                  <div id="pre_image"></div>
                </div>

                <div id="content_2">
                  <div id="test_generate">Vectorized Fonts Image</div>
                  <div id="post_image"></div>
                </div>

                <div id="range_all">

                <div id="range_container">
                  <p class="ptag">ltres</p>
                  <input id="ltres" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                  <p class="ptag">qtres</p>
                  <input id="qtres" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                  <p class="ptag">strokewidth</p>
                  <input id="strokewidth" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                  <button class="btn btn-info" id="default_button">Default</button>
                </div>
                <div id="range_container2">
                  <p class="ptag">pathomit</p>
                  <input id="pathomit" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                  <p class="ptag">blurradius</p>
                  <input id="blurradius" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                  <p class="ptag">blurdelta</p>
                  <input id="blurdelta" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                  <button class="btn btn-primary" id="save_button">Save</button>
                </div>

              </div>

              </div>
              <div id="main_right">
                <div id="history_box">
                  <div id="history_text">
                    History
                  </div>

                </div>
              </div>

            </div>
              </div>

              <div id="download_div">
		<h3>Convert</h3>
	      <button class="btn btn-default btn-lg" id='convert_button'  >Start</button>
		<a href='/download_ttf' id='download_button' class="btn btn-default btn-lg" style="display: none;">Download</a>
		<center><div id="loader" class="loader" style="display: none;"></div></center>
              </div>
        </div>

  <% include ../views/partials/footer %>
  </body>

</html>
